.bg-dongker {
    background-color: #001f54 !important;
}

.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -150px;
    background-color: #001f54;
    color: white;
    transition: all 0.3s ease;
    overflow-y: auto;
    z-index: 10;
    padding-top: 90px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.sidebar:hover {
    left: 0;
}

.menu-icon {
    position: fixed;
    top: 50px;
    left: 5px;
    background-color: #001f54;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-icon:hover {
    background-color: #003080;
}

main.content {
    margin-left: 50px;
}

.card {
    margin-right: 40px;
    margin-top: 30px;
}

.card-header {
    background-color: transparent !important;
    color: #001f54 !important;
    text-align: center;
    border: none;
}
