.bg-dongker {
    background-color: #001f54 !important;
}

.menu-icon {
    position: fixed;
    top: 50px;
    left: 5px;
    background-color: #001f54;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-icon:hover {
    background-color: #003080;
}

main.content {
    margin-left: 50px;
}

.card {
    margin-right: 40px;
}

.card-header {
    background-color: transparent !important;
    color: #001f54 !important;
    text-align: center;
    border: none;
}

.custom-margin-top {
    margin-top: 90px;
}
